<div class="container-fluid">

        <table id="basket-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="p in cart">
                    <td>{{ p.product.name }}</td>
                    <td>{{ p.quantity }}</td>
                    <td>{{ p.product.displayOfferPrice }}</td>
                </tr>
                <tr>
                    <!--td colspan="2" align="right">Total</td-->
                    <td><b>Total</b></td>
                    <td>{{ totalQuantity }}</td>
                    <td>{{ currency + '' + totalAmount }}</td>
                </tr>
            </tbody>
        </table>

</div>