

<div class="container container-fluid">
    <div class="col-sm-1">
    <label for="sel1">Sort by:</label>
    </div>
    <div class="col-sm-2">
        <select class="form-control  input-sm" id="sel1" ng-model="orderProp">
            <option value="name">Name: A to Z</option>
            <option value="-name">Name: Z to A</option>
            <option value="internal.approximateOfferPriceUSD">Price: Low to High</option>
            <option value="-internal.approximateOfferPriceUSD">Price: High to Low</option>
        </select>
    </div>
    <div class="col-sm-3">
        <input ng-model="query" type="text" class="form-control input-sm" placeholder="Search...">
    </div>
</div>
<div class="container-fluid">
    <h1><!--Product List--></h1>
    <div class="col-sm-3 products" data-ng-repeat="i in products | filter:query | orderBy:orderProp" class="thumbnail">
            <form>
                <a href="/product/{{i._id}}" class="thumb">
                    <img class="img-thumbnail" ng-src="/{{i.images[0]}}" alt="{{i.name}}" style="width:100%">
                </a>
                <p style="width:100%" >{{i.name.slice(0,15)}}</p>
                <p><b> {{ i.displayOfferPrice }}</b></p>
                <p><del> {{ i.displayMarketPrice }}</del></p>
                    <select ng-model="quantityDict[i._id]" required="true">
                        <option value="">Qty</option>
                        <option data-ng-repeat="j in [1, 2,3,4,5,6,7,8,9,10]" value="{{j}}">{{j}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm" value="Add to basket" ng-click="addToBasket(i)">
                        <i class="fa fa-shopping-cart"></i> Add to Basket
                    </button>

            </form>
    </div>
</div>
<!--
    TODO: add "Customer Rating" (1~5 stars), "Stock Level" (including JSON)
-->
